body {
    font-family: Ubuntu; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* bar */

#ue {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    background-color: black;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    animation: loadanime_ue 1s ease 0s 1 normal forwards;
    z-index: 1;
} #time {
    position: absolute;
    left: 50%; transform: translate(-50%, 0px);
    text-align: center;
    font-size: 18px;
    color: #fff;
} #schedule {
    box-sizing: border-box;
    overflow: auto;
    position: absolute;
    display: none;
    top: 40px;
    left: 50%;
    width: 15%;
    height: 25%;
    transition: 0.30s;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: 0.45s ease 0s 1 normal forwards;transform: translate(-50%, 0px);
}  

#control_center_button {
    position: absolute;
    right: 5px;
    top: 0px;
} #control_center_button img {
    width: 24px;
    height: 24px;
}

#control_center {
    display: none;
    position: absolute;
    right: 5px;
    top: 35px;
    width: 240px;
    height: 140px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: control_open 0.85s ease 0s 1 normal forwards;
} .control_center_close_anime {
    animation: control_close 0.85s ease 0s 1 normal forwards !important;
} #control_center_line1 {
    position: absolute;
    margin-top: 15px;
    left: 52.5px;
} #control_center_line2 {
    position: absolute;
    top: 97.5px;
    left: 52.5px;
} #volume {
    margin-top: 125px;
    width: 200px;
}

#widget {
    position: absolute;
    width: 280px;
    height: 150px;
    margin-top: 215px;
    right: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: large;
    text-align: center;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: control_open 1s ease 0s 1 normal forwards;
}

#sita {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    background-color: black;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    animation: loadanime_sita 1s ease 0s 1 normal forwards;
    z-index: 1
} .sita_icon {
    padding: 6px;
    transition: 0.30s;
} .sita_icon img {
    transform: translate(0%, 25%);
    top: -50%;
    width: 24px;
    height: 24px;
} .sita_icon img:hover{
    width: 28px;
    height: 28px;
    transition: 0.30s;
}

#hidari {
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    transition: 0.20s;
    left: 0px;
    height: 100%;
    width: 30px;
    color: #fff;
    font-size: 20px;
    background-color: rgb(61, 61, 61);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    animation: loadanime_hidari 1s ease 0s 1 normal forwards;
    z-index: 0;
} #hidari:hover {
    position: absolute;
    bottom: 0px;
    transition: 0.20s;
    left: 0px;
    height: 100%;
    width: 35px;
    color: #fff;
    font-size: 25px;
    background-color: rgb(61, 61, 61);
} #hidari_items {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    text-align: center;
} 

#virtual_window {
    position: absolute;
    display: none;
    width: 250px;
    height: 85%;
    margin-top: 40px;
    left: 45px;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: menu_open 0.60s ease 0s 1 normal forwards;
} 
#search {
    position: absolute;
    display: none;
    width: 250px;
    height: 85%;
    margin-top: 40px;
    left: 45px;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: menu_open 0.60s ease 0s 1 normal forwards;
} 
#all_app {
    position: absolute;
    display: none;
    width: 250px;
    height: 85%;
    margin-top: 40px;
    left: 45px;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: menu_open 0.60s ease 0s 1 normal forwards;
} #all_app_l1 {
    position: absolute;
    text-align: center;
    margin-left: 10px;
    margin-top: 50px;
} #all_app_l2 {
    position: absolute;
    text-align: center;
    margin-left: 150px;
    margin-top: 50px;
} 

.app_icon {
    padding: 15px;
    border-radius: 50%;
    transition: 0.20s;
    border: 2px solid white;
} .app_icon img {
    height: 24px;
    width: 24px;
} 
.app_icon:hover {
    padding: 20px;
    border-radius: 150px;
    transition: 0.15s;
    border: 2px solid white; 
}
.app_icon_name {
    padding: 5px;
} 

.all_app_anime {
    animation: menu_close 0.60s ease 0s 1 normal forwards !important;
}

/* //bar */ 
/* bar_animes */ 
@keyframes loadanime_sita {
    0% {
        transform: translateY(60px);
    } 100% {
        transform: translateY(0px);
    }
} 
@keyframes loadanime_ue {
    0% {
        transform: translateY(-60px);
    } 100% {
        transform: translateY(0px);
    }
}
@keyframes loadanime_hidari {
    0% {
        transform: translatex(-60px);
    } 100% {
        transform: translatex(0px);
    }
}

@keyframes control_open {
    0% {
        transform: translateY(-450px) scale(0);
    } 100% {
        transform: translateY(0px) scale(1);
    }
} 
@keyframes control_close {
    0% {
        transform: translateY(0px);
    } 100% {
        transform: translateY(-450px) scale(0);
    }
} 

@keyframes menu_open {
    0% {
        transform: translatex(-315px);
    } 100% {
        transform: translatex(0px);
    }
} 
@keyframes menu_close {
    0% {
        transform: translatex(0px);
    } 100% {
        transform: translatex(-315px);
    }
} 
@keyframes preanime_open {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
} 
@keyframes preanime_close {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
} 
/* //bar_animes */ 
 
/* app_header,body */

.app_header {
    position: absolute;
    width: 100%;
    height: 55px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid rgb(255, 255, 255);
} .app_name {
    position: absolute;
    padding-top: 5px;
    font-size: 32px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} .app_return {
    position: absolute;
    left: 0px;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 32px;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
} .app_next {
    position: absolute;
    margin-left: 50px;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 32px;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
} .app_reload {
    position: absolute;
    margin-left: 95px;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 32px;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
} .app_home {
    position: absolute;
    margin-left: 130px;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 32px;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
} .app_close {
    position: absolute;
    right: 0px;
    padding-top: 5px;
    padding-right: 20px;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
} .app_close img {
    width: 24px;
    height: 24px;
} 
.app_size_change {
    position: absolute;
    right: 0px;
    padding-top: 5px;
    margin-right: 55px;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
} .app_size_change img {
    width: 24px;
    height: 24px;
}

.app_body {
    position: absolute;
    margin-top: 65px;
    font-size: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.app_close_anime {
    animation: app_close_anime 0.45s ease 0s 1 normal forwards !important;
}

.preanime_close {
    animation: preanime_close 0.45s ease 0s 1 normal forwards !important;
}

.app_preview {
    display: none;
    position: absolute;
    width: 350px;
    height: 252.5px;
    bottom: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: large;
    text-align: center;
    z-index: 1;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: preanime_open 0.45s ease 0s 1 normal forwards;
} .app_preview img {
    margin-top: 5px;
    width: 340px;
    height: 215px;
    border-radius: 10px;
}

#pre_internet {
    left: 5px;
} #pre_music_player {
    left: 50px;
} #pre_setting {
    left: 85px;
} #pre_feedback {
    left: 130px;
} #pre_store {
    left: 170px;
} #pre_clock {
    left: 205px;
} #pre_cal {
    left: 250px;
} #pre_memo {
    left: 290px;
} #pre_filer {
    left: 325px;
} #pre_camera {
    left: 360px;
} #pre_bscode {
    left: 400px;
} #pre_mytube {
    left: 445px;
}

.drag-and-drop {
    position: absolute;
    z-index: 1000;
}

.drag {
    z-index: 1001;
}

.app_size {
    width: 100% !important; 
    height: 100% !important;
    top: 0px!important; 
    bottom: 0px!important; 
    left: 0px!important;
    border-radius: 0px!important;
}

/* //app_header,body */

/* apps */

#setting {
    box-sizing: border-box;
    resize: both;
    overflow: auto;
    position: absolute;
    display: none;
    width: 55%;
    height: 65%;
    transition: 0.30s;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: app_open_anime 0.45s ease 0s 1 normal forwards;
} .setting_tabs {
    position: absolute;
    margin: 10px;
    left: -50%;
} 

#feedback {
    resize: both;
    overflow: auto;
    position: absolute;
    display: none;
    width: 55%;
    height: 65%;
    transition: 0.30s;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: app_open_anime 0.45s ease 0s 1 normal forwards;
}

#music_player {
    resize: both;
    overflow: auto;
    position: absolute;
    display: none;
    width: 55%;
    height: 65%;
    transition: 0.30s;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: app_open_anime 0.45s ease 0s 1 normal forwards;
}

#addon_store {
    position: fixed;
    resize: both;
    overflow: auto;
    display: none;
    width: 55%;
    height: 65%;
    transition: 0.30s;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: app_open_anime 0.45s ease 0s 1 normal forwards;
} .addon_store_install {
    position: sticky;
    text-align: center;
    left: 100%;
    padding: 10px;
    white-space: nowrap;
    background-color: orange;
    cursor: pointer;
} .addon_store_app {
    position: relative;
    width: 90%;
    padding: 10px;
    white-space: nowrap;
    border: solid 1px white;
}

#memo {
    resize: both;
    overflow: auto;
    position: absolute;
    display: none;
    width: 55%;
    height: 65%;
    transition: 0.30s;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: app_open_anime 0.45s ease 0s 1 normal forwards;
}

#internet {
    resize: both;
    overflow: auto;
    position: absolute;
    display: none;
    width: 55%;
    height: 65%;
    transition: 0.30s;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: app_open_anime 0.45s ease 0s 1 normal forwards;
}

#clock {
    resize: both;
    overflow: auto;
    position: absolute;
    display: none;
    overflow: auto;
    width: 55%;
    height: 65%;
    transition: 0.30s;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: app_open_anime 0.45s ease 0s 1 normal forwards;
}

#cal {
    resize: both;
    overflow: auto;
    position: absolute;
    display: none;
    overflow: auto;
    width: 55%;
    height: 65%;
    transition: 0.30s;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: app_open_anime 0.45s ease 0s 1 normal forwards;
}

#camera {
    resize: both;
    overflow: auto;
    position: absolute;
    display: none;
    width: 55%;
    height: 65%;
    transition: 0.30s;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: app_open_anime 0.45s ease 0s 1 normal forwards;
}

#filer {
    resize: both;
    overflow: auto;
    position: absolute;
    display: none;
    width: 55%;
    height: 65%;
    transition: 0.30s;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: app_open_anime 0.45s ease 0s 1 normal forwards;
}

#bscode {
    resize: both;
    overflow: auto;
    position: absolute;
    display: none;
    width: 55%;
    height: 65%;
    transition: 0.30s;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: app_open_anime 0.45s ease 0s 1 normal forwards;
}


#mytube {
    resize: both;
    overflow: auto;
    position: absolute;
    display: none;
    width: 55%;
    height: 65%;
    transition: 0.30s;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    animation: app_open_anime 0.45s ease 0s 1 normal forwards;
}

/* //apps */

/* app_anime */

@keyframes app_open_anime {
    0% {
        transform: scale(0);
    } 100% {
        transform: scale(1); 
    }
} 
@keyframes app_close_anime {
    0% {
        transform: scale(1);
    } 100% {
        transform: scale(0);
    }
}

/* //app_anime */

/* dark_lightmode */

    .white {
        background-color: #fff !important;
        color: #000 !important;
    }

    .black {
        background-color: #fff !important;
        color: #000 !important;
        border: solid 2px #000 !important;
    }

/* //dark_lightmode */

/* clock_header */
    #currenttime {
        padding-top: 15px;
        margin-left: 5px;
        background-color: rgba(255, 255, 255, 0.25);
    }
    #timer {
        padding-top: 15px;
        margin-left: 5px;
        background-color: rgba(255, 255, 255, 0.25);
    }
    #stopwatch {
        padding-top: 15px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: rgba(255, 255, 255, 0.25);
    }
    #select {
        position: absolute;
        margin-left: 5px;
        top: 5px;
        padding-top: 5px;
        height: 40px;
        border-radius: 5px;
        border: solid 2px #fff;
    }
/* //clock_header */

/* clock_body */

#timebelt {
    position: absolute;
    white-space: nowrap;
    top: 15px; left: 50%; transform: translate(-50%, 0%);
    font-size: 75px;
}
#ymdtime {
    position: absolute;
    top: 150px; left: 50%; transform: translate(-50%, 0%);
    font-size: 100px;
}   
#hmstime {
    position: absolute;
    top: 300px; left: 50%; transform: translate(-50%, 0%);
    font-size: 200px;
}

#nowtime {
    display: block;
}
#nowtimer {
    display: none;
}

#hourtime {
    position: absolute;
    white-space: nowrap;
    top: 200px;
    left: 0%; transform: translate(-50%, 0%);
    padding-right: 200px;
    font-size: 200px;
}
#mintime {
    position: absolute;
    white-space: nowrap;
    top: 200px; 
    left: 50%; transform: translate(-50%, 0%);
    font-size: 200px;
}
#sectime {
    position: absolute;
    white-space: nowrap;
    top: 200px;
    right: 0%; transform: translate(50%, 0%);
    padding-left: 200px;
    font-size: 200px;
}
/* //clock_body */

/* cal_body */

#cal_body {
    position: absolute;
    white-space: nowrap;
    top: 100px; 
    left: 50%; 
    transform: translate(-50%, 0%);
    font-size: x-large;
}

#screen {
    position: absolute;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 115%;
    height: 50px;
    color: black;
    border-radius: 2.5px;
    background-color: rgb(205, 205, 205);
    border: solid 0px;
    font-size:xx-large;
    outline: solid 0px;
    text-align: right;
}

#calc_button{
    margin-top: 10px;
}

.line {
    padding: 0px 0px 5px;
}

.cal_b {
    width: 75px;
    height: 75px;
    border-radius: 7.5px;
    border: solid 0px;
    font-size:xx-large;
    cursor: pointer;
}

#del {
    color: white;
    background-color: rgb(250, 90, 90);
}

#p_m {
    color: black;
    background-color: rgb(170, 170, 170);
}

#pow {
    color: black;
    background-color: rgb(170, 170, 170);
}

#div {
    color: black;
    background-color: rgb(170, 170, 170);
}

#sev {
    color: black;
    background-color: rgb(215, 215, 215);
}

#eig {
    color: black;
    background-color: rgb(215, 215, 215);
}

#nin {
    color: black;
    background-color: rgb(215, 215, 215);
}

#mul {
    color: black;
    background-color: rgb(170, 170, 170);
}

#fou {
    color: black;
    background-color: rgb(215, 215, 215);
}

#fiv {
    color: black;
    background-color: rgb(215, 215, 215);
}

#six {
    color: black;
    background-color: rgb(215, 215, 215);
}

#sub {
    color: black;
    background-color: rgb(170, 170, 170);
}

#one {
    color: black;
    background-color: rgb(215, 215, 215);
}

#two {
    color: black;
    background-color: rgb(215, 215, 215);
}

#thr {
    color: black;
    background-color: rgb(215, 215, 215);
}

#add {
    position: absolute;
    right: 0px;
    height: 155px;
    color: black;
    background-color: rgb(170, 170, 170);
}

#zer {
    color: black;
    background-color: rgb(215, 215, 215);
}

#zer2 {
    color: black;
    background-color: rgb(215, 215, 215);
}

#com {
    color: black;
    background-color: rgb(215, 215, 215);
}

#equ {
    color: black;
    background-color: rgb(170, 170, 170);
}

/* cal_body */